<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>Super Awesome</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body {
        padding-top: 50px;
    }
</style>
</head>

<body class="container">

    <header>
        <% include('../partials/header.ejs') %>
    </header>
    <main>
        <div class="jumbotron">

            <table>
                <% users.forEach(function(user) { %>
                <tr>
                    <td><%= user.name %></td>
                    <td><%= user.age %></td>
                </tr>
                <% })%>
            </table>
        </div>
    </main>

    <footer>
        Footer
    </footer>
</body>

</html>